# ==============================================================================
# OS-specific files
# ==============================================================================

# macOS
# ------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
__MACOSX
Desktop.ini
Thumbs.db
ehthumbs.db

# ==============================================================================
# Editor/IDE-specific files
# ==============================================================================

# VSCode
# ------------------------------------------------------------------------------
.vscode/
.vscode-test/
*.code-workspace

# Vim
# ------------------------------------------------------------------------------
*.swp
*.swo
*~
*.bak

# JetBrains
# ------------------------------------------------------------------------------
.idea/

# ==============================================================================
# Project-specific files
# ==============================================================================

# Logs
# ------------------------------------------------------------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
# ------------------------------------------------------------------------------
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
# ------------------------------------------------------------------------------
node_modules/
jspm_packages/
bower_components/

# Build outputs
# ------------------------------------------------------------------------------
dist/
build/
target/
out/

# Backups
# ------------------------------------------------------------------------------
*.bak
*.tmp
*.temp
*~

# Secrets (never commit these)
# ------------------------------------------------------------------------------
*.env
.env.*
!/.env.example
secrets.sh
*.pem
*.key
