# ==============================================================================
#
# FILE:         .gitattributes
#
# DESCRIPTION:  This file defines attributes for pathnames.
#               It helps enforce consistent settings across a project.
#
# ==============================================================================

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

#
# The above will handle all files NOT found below
#

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.java text
*.js text
*.json text
*.html text
*.css text
*.scss text
*.py text
*.rb text
*.sh text
*.zsh text
*.bash text
*.md text
*.txt text
*.xml text
*.yml text
*.yaml text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.csproj text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Mark all files that are binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.rar binary
*.dmg binary
